//## Variables

//** Colors
$default: 	    #fff;
$primary: 	    #d7345a;
$primary-dark:  #9f1f32;
$second:        #3676cd;
$second-dark:   #295ea7 ;

$gray-base:	    #000000;
$gray: 	  	    #404040;
$gray-light:    #888888;
$gray-lighter:  #eeeeee;
$gray-lightest: #f5f5f5;

//** Typography
$primary-font:   'Montserrat', sans-serif;

$font-base: 18px;
$font-small: 16px;
$font-extra-small: 14px;
$h1: 220%;
$h2: 160%;
$h3: 140%;
$h4: 120%;
$h5: 110%;
$h6: 100%;

//** Layout
$grid-offset: 30px;

//** Custom spacing
$spacing: 30px;
$spacing-m: 10px;
