//## Grid
@import "../_variables";
@import "../_mixins";

.blogpost {

    &__header {
        margin-top: ($spacing * 4);

        @include breakpoint(sm) {
            margin-top: ($spacing * 3);
        }
    }

    &__subheader {
        margin-top: $spacing-m;
        margin-bottom: ($spacing * 4);
        color: $gray-light;
        width: 55%;

        @include breakpoint(sm) {
            width: 100%;
            margin-bottom: ($spacing * 3);
        }
    }

    &__action-bar {
        margin: 0 0 ($spacing * 2) 0 !important;
        padding: 35px 0;
        background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0.65) 100%);
        background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 100%);
        background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a6000000',GradientType=1 );

        &__copy {
            color: $default;
            text-align: center;
            margin-bottom: $spacing;
        }

        &__btns {

            @include flexbox;
            @include justify-content(center);

            .btn {
                width: 210px;
                height: 50px;
                margin: 0 $spacing-m;

                @include breakpoint(xs) {
                    width: 80%;
                    margin: 0 auto ($spacing-m * 2);
                }
            }

            @include breakpoint(xs) {
                @include flex-direction(column);
            }
        }
    }

    .btn-blue {
        width: 250px;
        margin: 0 auto;

        @include breakpoint(xs) {
            width: 80%;
            margin: 0 auto;
        }
    }

    .copy {
        text-align: center;
        margin: $spacing auto 20px;
    }

    .users {

        &__user {
            margin-bottom: ($spacing-m * 2);
            @include flexbox;
            @include align-items(center);

            &__pic {
                display: block;

                @include breakpoint(md) {
                    margin: 0 auto;
                }
            }

            &__name {
                margin: $spacing-m 0 0 15px;

                @include breakpoint(md) {
                    text-align: center;
                    margin: $spacing-m 0 0;
                }
            }

            @include breakpoint(md) {
                width: 140px;
                display: inline-block;
                margin: 0 $spacing-m;
            }

            @include breakpoint(xs) {
                width: 120px;
                margin: $spacing-m;
            }
        }

        @include breakpoint(md) {
            @include flexbox;
            @include justify-content(center);
        }

        @include breakpoint(xs) {
            @include flex-wrap(wrap);
        }
        
    }

    .article {
        padding-left: ($spacing * 3);
        padding-right: ($spacing * 3);

        &__subheader {
            margin: $spacing-m 0 $spacing 0;
            color: $gray-light;
        }

        &__text {
            margin: $spacing-m 0;
        }

        @include breakpoint(lg) {
            padding-left: $spacing;
            padding-right: $spacing;
        }

        @include breakpoint(md) {
            margin-top: ($spacing * 3);
        }
    }

    .comments {
        margin: $spacing 0 ($spacing * 2);
        padding-right: ($spacing * 2);

        &__header {
           margin-bottom: $spacing;  
           font-weight: 400;
        }

        &__comment {
            margin-bottom: ($spacing-m * 2);
            @include flexbox;

            &__pic {
                display: block;
            }

            &__text {
                font-size: $font-small;
                color: $gray-light;
                width: 80%;
                padding: 0 15px;

                @include breakpoint(sm) {
                    width: 100%;
                    padding: $spacing-m;
                }
            }

            @include breakpoint(sm) {
                display: block;
            }
        }
    }
}
