//## Grid
@import "../_variables";
@import "../_mixins";

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 0 ($spacing * 3);

  @include breakpoint(lg) {
    padding: 0 $spacing;
  }
}

.row {
  margin-left: $grid-offset;
  margin-right: $grid-offset;
  clear: both;

  @include breakpoint(sm) {
    margin-left: -$grid-offset;
    margin-right: -$grid-offset;
  }
}

.row-no-col {

  margin-left: ($grid-offset * 2);
  margin-right: ($grid-offset * 2);
  clear: both;

  @include breakpoint(sm) {
    margin-left: -$grid-offset;
    margin-right: -$grid-offset;
  }
}

.row:before,
.row:after,
.row-no-col:before,
.row-no-col:after {
  content: "";
  display: table;
  clear: both;
}

.container-fluid {
  padding: 0;

  .row {
    margin: 0;
  }

}

[class*="col-"] {
  float: left;
  padding-left: $grid-offset;
  padding-right: $grid-offset;
  width: 100%;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.333%;
}

.col-2-3 {
  width: 66.666%;
}

@include breakpoint(md) {
  .col-1-3,
  .col-2-3 {
    width: 100%;
  }
}
