//## Grid
@import "../_variables";
@import "../_mixins";

.top {
    background-color: $gray-lighter;
    padding-top: $spacing-m;
    padding-bottom: $spacing-m;

    &__logo {
        height: 40px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__btn {
        height: 40px !important;
        width: 120px;
        float: right;
    }
}
