<div class="container container-fluid">
    <div class="row blogpost__action-bar">
        <div class="col-1-1">
            <p class="blogpost__action-bar__copy">
                Sed ut perspiciatis unde omis iste natus error sit.
            </p>
        </div>
        <div class="col-1-1 blogpost__action-bar__btns">
            <div class="btn btn-pink">
                <p>
                    Create account
                </p>
            </div>
            <div class="btn btn-transparent">
                <p>
                    Contact sales
                </p>
            </div>
        </div>
    </div>
</div>