<div class="container">
    <div class="row">
        <div class="col-1-3">
            <div class="button button-blue">
                <p>
                    Share post
                </p>
            </div>
            <p class="copy">
                Users who share this post
            </p>
            @@include('users.html')
        </div>
        <div class="col-2-3 article">
            <h2>
                Quisque cursus lectus
            </h2>
            <h5 class="article__subheader">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure
                dolor in voluptate velit esse cillum dolore.
            </h5>
            <p class="article__text">
                Integer posuere nibh pellentesque libero interdum, et mattis nulla scelerisque. Proin dictum lacus tortor, vel dapibus enim
                ultricies in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam
                cursus cursus felis in venenatis. Fusce sed nulla nisi. Vivamus ipsum lorem, fringilla a fermentum a, vehicula
                eget leo. Proin vulputate consequat sapien, eleifend pulvinar nulla mollis sed. Vestibulum ante ipsum primis
                in faucibus orci luctus et ultrices posuere cubilia Curae; Cras molestie risus nisi, sed congue elit porta
                sed. Integer sit amet erat eget lorem sagittis iaculis.
            </p>
            <p class="article__text">
                Ut dignissim magna vel libero congue tempus. Sed feugiat ultricies lorem at congue. Pellentesque quis dignissim orci. Nulla
                rutrum neque in ipsum lacinia hendrerit. Donec dictum quam turpis, ac volutpat erat facilisis eu. Nulla sit
                amet neque sit amet odio porta venenatis at ullamcorper magna. Proin suscipit id mauris eget ullamcorper.
                Morbi eleifend arcu ut imperdiet ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce odio
                elit, consectetur sed nunc nec, vestibulum ultricies dui. Fusce iaculis a libero eget eleifend. Cras vitae
                tristique mauris. Quisque eleifend faucibus pharetra.
            </p>
            @@include('comments.html')
        </div>
    </div>
</div>