button, .btn {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 50px;
  font-weight: 700;
  border-radius: 0;
  font-size: 20px;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  p {
    font-size: $font-base;
    color: $default;
    z-index: 1;
    
    @include breakpoint(sm) {
      font-size: $font-small;
    }
  }
}

.btn-pink {
  background-color: $primary;
  border: none;

  &:hover {
    background-color: $primary-dark;
  }
}

.btn-blue {
  background-color: $second;
  border: none;

  &:hover {
    background-color: $second-dark;
  }
}

.btn-transparent {
  background-color: transparent;
  border: 2px solid $default;
}
